@import "../node_modules/bulma/bulma";

.action-button {
    @extend .button;
    @extend .is-medium;
}

.title {
    @extend .has-text-centered;
}

#renting {
    height: 400px;
}

.block-list {
    display: flex;
    justify-content: center;

    li {
        @extend .has-text-centered;
        @extend .mx-4;
        width: 200px;
        line-height: 160px;
        background-color: #444;
        color: #fff;
    }
}
